

        <div class="col s5 offset-s1">
            <div class="row">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>URL</td>
                        <td><a href="{{ userjob.url }}" target="_blank">{{ userjob.url }}</a></td>
                    </tr>
                    <tr>
                        <td>Date Added</td>
                        <td>{{ userjob.date_added }}</td>
                    </tr>
                    <tr>
                        <td>Last Checked</td>
                        <td>{{ userjob.last_checked }}</td>
                    </tr>
                    <tr>
                        <td>Last Change</td>
                        <td>{{ userjob.last_change }}</td>
                    </tr>
                    <tr>
                        <td>Curren Similarity</td>
                        <td>{{ userjob.similarity|formatpercent }}%

                            {% if diffs %}
                                <a href="{% url 'job_detail' job_id=userjob.id %}" style="float: right">Hide
                                    Differences</a>
                            {% else %}
                                <a href="{% url 'job_detail_differences_html' job_id=userjob.id %}"
                                   style="float: right">Show
                                    Differences</a>
                            {% endif %}


                        </td>
                    </tr>
                    <tr>
                        <td>Alert Threshold</td>
                        <td>{{ userjob.threshold }}%</td>
                    </tr>
                    <tr>
                    <tr>
                        <td>Active</td>
                        <td>{{ userjob.is_active }}</td>
                    </tr>
                    <tr>
                        <td>Check every</td>
                        <td>{{ userjob.check_every }} min</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="row" style="float: right">
                {% if not userjob.is_active %}
                    <a href="{% url 'job_reset' job_id=userjob.id %}" class="waves-effect waves-light green btn"
                       style=""><i class="material-icons right">play_arrow</i>Enable</a>{% endif %}
                <a class='dropdown-trigger btn' href='#' data-target='dropdown3'><i class="material-icons right">settings</i>Edit</a>
                <a href="{% url 'job_delete' job_id=userjob.id %}" class="waves-effect waves-light red btn"
                   style=""><i class="material-icons right">delete</i>Delete</a>
            </div>

            <ul id='dropdown3' class='dropdown-content' style="min-width: 200px">
                <li><a href="{% url 'job_edit' job_id=userjob.id %}">Edit Preferences</a></li>
                <li><a href="#!">Advanced Site Navigation</a></li>
                <li><a href="{% url 'job_reset' job_id=userjob.id %}">Reset</a></li>

            </ul>

        </div>


